body, ul {
    margin: 0;
    padding: 0;
}

.wrapper-columns-boards{
    width: 990px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.column-boards{
    width: 310px;
    padding: 5px;
    background-color:rgba(145, 164, 201, 0.921);
    border-radius: 5px;
}

.icon {
    width: 17px;
    height: 17px;
}

.point{
    width: 20px;
    height: 20px;
    padding: 5px 3px;
}

.header-block-card{
    display: flex;
    justify-content: space-between;
}

.header-column{
    margin: 0;
    padding: 5px;
    font: normal 500 21px Helvetica;
    text-transform: uppercase;
}

.column-cards{
    height: 150px;
    /* нужно будет убрать в продакшене */
}

.card {
    display: flex;
    justify-content: space-between;

    padding: 5px;
    background-color: #ffffff;
    border-radius: 3px;
}

.card-message{
    margin: 0;

    font: normal 500 15px Helvetica;
}

.point-icon{
    margin: 0;
    border: 0;
    padding: 0;

    display: flex;

    background: none;
}

.card-closure{
    margin: 0;
    border: 0;
    padding: 0;

    display: flex;

    background: none;
}

.button-icon{
    margin: 0;
    border: 0;
    padding: 3px;

    display: flex;

    background: none;
}

.hide_element{
    display: none;
}

.show_element{
    display: block;
}

.footer-block-card{
    display: flex;
}

.footer-block-card-button {
    margin: auto;
    font: normal 200 15px Helvetica;
}

.footer-icon{
    height: 15px;
    padding-right: 3px;
}

.task-input-field{
    width: 300px;
    padding: 5px;
    resize: none;
    height: 25px;

    background-color: #ffffff;
    border:0;
    border-radius: 3px;

    font: normal 500 13px Helvetica;
    letter-spacing: 1px;
}

.task-input-field:focus{
    outline: 2px solid #ffd300;
}

.task-input-field::-webkit-scrollbar{
    width: 0;
}

.click-add-card{
    display: flex;
}

.footer-button-add-card{
    padding: 5px;
    background-color: #ffd300;
    border: 0;
    border-radius: 3px;

    font: normal 600 15px Helvetica;
    color: #ffffff;
}

.click-add-card-close-wrapper{
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 5px;

    display: flex;
    align-items: center;

    background: none;
}