/* @font-face {
    font-family: "Inter";
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* @font-face {
    font-family: "Montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
} */

/* @font-face {
    font-family: "InterRegular";
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
} */

body{
    background-color: #1E1E1E;
}

body, ul{
    margin: 0;
}

/* .purple_ball{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 868px;
    top: -2px;
    background-color:aliceblue
} */

header{
    padding: 46px 150px 90px;
    max-width: 1140px;
}

.header_wrapper {
    display: flex;
    /* width: 1140px; */
}

.comp_logo{
    display: flex;
    align-items: center;
}

.logo{
    padding-right: 8px;
}

.comp_preview{
    width: 165px;
    height: 24px;

}

.comp_statistics{
    width: 165px;
    height: 24px;
    padding-top: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    /* font-style: normal;
    font-weight: 300; */
    line-height: 12px;
    color: #E4E5EA;
}

.nav_menu{
    display: flex;
    justify-content: space-between;

    width: 503px;
    padding-left: 27px;
}

.nav_menu_item{
    list-style-type: none;
    /* padding-left: 30px; */

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#E4E5EA;
}

.nav_menu_item:first-child{
    padding-left: 0;
}

.phone{
    padding-left: 137px ;
    /* padding-right: 48px; */

    width: 143px;
    height: 19px;

    font-family: 'Inter', sans-serif;
    /* font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#E4E5EA;
}

.mess_menu{
    display: flex;
    padding: 0;
    padding-left: 48px;
}

.mess_menu_item{
    list-style-type: none;
    padding-left: 34px;
}

.mess_menu_item:first-child{
    padding: 0;
}

main{
    display: flex;
    justify-content: space-between;

    padding: 0 150px;
    max-width: 1140px;
}
/* .slogan_wrapper{
    padding-left: 147px;
} */

.slogan{
    display: block;

    width: 362px;
    height: 116px;

    font-family: 'Inter', sans-serif;
    font-size: 48px;
    line-height: 58px;
    color:#E4E5EA;
}

.slogan_welbex{
    display: block;

    width: 275px;
    height: 58px;

    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    background: linear-gradient(92deg, #FCB045 27.14%,#FF3F78 121.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color:#E4E5EA;
    display: table;

}

.slogan_note{
    padding-top: 30px;
    width: 257px;
    height: 44px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #E4E5EA;
}

.info_company{
    text-align: right;
    color: #E4E5EA;
    width: 362px;
}

.promotion{
    height: 44px;
    margin-right: 0;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.attention{
    text-transform: uppercase;

    background: linear-gradient(92deg, #FCB045 27.14%,#FF3F78 121.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 0.1em;
}

.present{
    display: flex;
    justify-content: space-between;
}

.column_present{
    padding-top: 40px;
}

.present_item:last-child{
    padding-top: 30px;
}

.present_item{
    padding-left: 31px;
    height: 68px;
    width: 150px;
}

.present_title{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.present_item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.button{
    width: 262px;
    height: 61px;
    float: right;
    margin-top: 61px;

    background-color: #4077F3;

    text-align: center;
}